
.bg-modal{
    width: 100%;
    height: 100%;
    margin: 0;
    /* top: -100%; */
    align-items: center;
    background: var(--color-background-modal);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    transition: 350ms;
}

.modal{
    z-index: 1;
    padding: 20px;
    border: 1px solid #000;
    width: 60%;
    height: 50%;
    /* top:0; */
    border-radius: 2rem;
    /* margin-block: auto; */
    background: var(--color-text) ;
    margin: 80px auto 0 auto ;
    transition: 350ms;
}

.modal span{
    float: right;
    font-size: 1.5rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: 350ms;
}
.modal span :hover{
    /* float: right; */
    color: red;
    transition: 350ms;
}